body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #BF9767; /* Background color for onboarding */
}

.page {
    display: flex;
    height: 100vh;
}

.content h1 {
    font-size: 2rem;
    font-family: fantasy;
    letter-spacing: 0.6rem;
    text-align: center;
}
.left-banner {
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    width: 512px;
    /* height: 1024px; */
}

.left-banner h2 {
    margin-bottom: 10px;
}

.left-banner p {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    font-family: monospace;}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 40px;
    color: #333;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: fantasy;
    letter-spacing: 0.6rem;
    text-align: center;
}

.content input {
    width: 80%;
    padding: 20px;
    margin-top: 2rem;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    color: gray;
}

.content button {
    padding: 12px 20px;
    font-size: 1rem;
    color: #FFF;
    background-color: #BF9767;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    width: 18rem;
    height: 3rem;
    margin-top: 2rem;
}

.content button:hover {
    background-color: #513C3A;
}
.heading-mobNum {
color: #BF9767;
}
.leftBanner-Head{
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: .5rem;
    font-family: monospace;
}
#timer {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #8B572A;
}

#resend-link {
    color: #BF9767;
    text-decoration: none;
    cursor: pointer;
}

#resend-link:hover {
    text-decoration: underline;
}
/* Invalid Mobile Input Styles */
input[type="text"].invalid {
    border-color: red;
    background-color: #ffdddd;
}

input[type="text"]:valid {
    border-color: black;
}



button {
    background-color: #c8a97e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a37b5e;
}

#timer {
    margin-top: 15px;
    font-size: 1rem;
    color: #555;
}

#resend-link {
    margin-top: 10px;
    color: #c8a97e;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

#resend-link:hover {
    text-decoration: underline;
}
